html{background-color: black;}
footer{color: whitesmoke; text-align: center;}
h1{color: gold; margin-bottom: 15px;}
body>div{text-align: center;}

div>div{
background-color: black;
height: 50px;
width: 100%;
position: static;
margin-bottom: 15px;
}

div>nav{
    font-size:large;
    position: absolute;
    margin-left: 42%;
    margin-top: 15px;
}

img{
    border: 5px solid gold;
    margin: 2px;
}

.menu{
    border: 5px solid gold;
}

.nav{
    border: 2px solid gold; background-color: white;
    position: absolute;
}

.przerwa{
    margin: 25px;
}